
  <mat-sidenav-container autosize class="mat__container">
    <mat-sidenav
      #sidebar
      [disableClose]="true"
      [mode]="modeSidebar"
      opened="true"
      class="mat__sidebar"
      (mouseenter)="toogleMouseSideBar()"
      (mouseleave)="toogleMouseSideBar()"
      (statusLogin)="isLogin($event)"
    >
    <app-dynamic-sidebar [isExpanded]="isExpanded" [isShowing]="isShowing">
    </app-dynamic-sidebar>
    </mat-sidenav>

    <!-- <mat-sidenav-content #content style="padding: 0 20px;" >
    </mat-sidenav-content> -->
  </mat-sidenav-container>
<!--
  *ngIf="IstatusLogin.statusLogin && IstatusLogin.changePassword == false"
 -->
